about-time==4.2.1
aiodns==3.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiohttp_socks==0.10.1
aiosignal==1.3.1
alive-progress==3.2.0
annotated-types==0.7.0
arabic-reshaper==3.0.0
argcomplete==2.0.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
async-timeout==5.0.1
asyncio==3.4.3
attrs==24.3.0
Babel==2.10.3
beautifulsoup4==4.12.3
blinker==1.9.0
blis==1.0.1
Brlapi==0.8.4
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.20.0
cloudscraper==1.2.71
colorama==0.4.6
confection==0.1.5
contourpy==1.3.2
cryptography==44.0.3
cssselect2==0.8.0
cupshelpers==1.0
cycler==0.12.1
cymem==2.0.10
dbus-python==1.3.2
decorator==5.2.1
defusedxml==0.7.1
distro==1.8.0
distro-info==1.5+deb12u1
executing==2.2.0
Flask==3.1.1
fonttools==4.58.4
frozenlist==1.4.1
future==1.0.0
future-annotations==1.0.0
ghp-import==2.1.0
grapheme==0.6.0
greenlet==3.0.3
html5lib==1.1
httplib2==0.20.4
idna==3.6
iniconfig==1.1.1
ipython==9.2.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.2.0
jplephem==2.22
jsonpickle==4.0.5
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
livereload==2.6.3
louis==3.24.0
lunr==0.6.2
lxml==5.4.0
#maigret @ file:///home/osint/Downloads/Programs/maigret
Mako==1.2.4.dev0
marisa-trie==1.2.1
Markdown
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.4.2
mock==5.2.0
more-itertools==8.10.0
multidict==6.0.5
murmurhash==1.0.11
networkx==2.8.8
nltk==3.8
numpy==2.0.2
oauthlib==3.2.2
oscrypto==1.3.0
packaging==24.2
pandas==2.3.0
parso==0.8.4
pexpect==4.9.0
pillow==10.2.0
pipx==1.1.0
platformdirs==4.3.8
playwright==1.43.0
pluggy==1.0.0+repack
preshed==3.0.9
prompt_toolkit==3.0.51
propcache==0.3.1
psutil==5.9.4
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pycairo==1.20.1
pycares==4.8.0
pycountry==24.6.1
pycparser==2.22
pycups==2.0.1
pycurl==7.45.2
pydantic==2.10.1
pydantic_core==2.27.1
pyee
Pygments==2.17.2
PyGObject==3.42.2
pyHanko==0.27.1
pyhanko-certvalidator==0.26.8
pyinotify==0.9.6
PyJWT==2.6.0
pyparsing==3.0.9
pypdf==5.5.0
PyPDF2==3.0.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
pytest==7.2.1
#python-apt==2.6.0
python-bidi==0.6.6
python-dateutil==2.8.2
python-debian==0.1.49
python-debianbts==4.0.1
python-dotenv==1.0.1
python-socks==2.7.1
pytz==2022.7.1
pyvis==0.3.2
pyxdg==0.28
PyYAML==6.0
pyyaml_env_tag==0.1
qrcode==8.2
regex 
reportbug 
reportlab==4.4.1
requests==2.31.0
requests-futures==1.0.2
requests-toolbelt==1.0.0
rich==13.7.1
scikit-learn==1.7.0
scipy==1.15.3
sgp4==2.24
shellingham==1.5.4
simplejson==3.18.3
six==1.17.0
skyfield==1.53
smart-open==7.0.5
socid-extractor==0.0.27
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
stem==1.8.2
svglib==1.5.1
tdqm==0.0.1
thinc==8.3.2
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenize_rt==6.1.0
tornado==6.2
torrequest==0.1.0
tqdm==4.67.0
traitlets==5.14.3
typer==0.13.1
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
uritools==5.0.0
urllib3==2.2.0
userpath==1.8.0
wadllib==1.3.6
wasabi==1.1.3
watchdog==2.2.1
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.17.0
xdg==5
xhtml2pdf==0.2.17
XMind==1.2.0
yarl==1.20.0
yt-dlp==2025.4.30
